@import './common/mixins';
@import './common/variables';

@import './atoms/headerMenuItem.scss';
@import './atoms/logo.scss';

@import './molecules/unauthorizedHeaderMenu.scss';

@import './templates/wrappers/header.scss';

body {
  font-family: Arial !important;

  &.stop-scrolling {
    height: 100%; 
    overflow: hidden;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  max-width: 1380px;
}

a {
  outline: none;
  text-decoration: none;

  &:focus {
    outline: none;
  }
}